#gamesboard-container {
    width: 500px;
    display: flex;
    justify-content: space-between;
}



.game-board {
    width: 200px;
    height: 200px;
    display: flex;
    flex-wrap: wrap;
}

.block {
    width: 20px;
    height: 20px;
    border: solid 1px black;
    box-sizing: border-box;
}


.option-container {
    width: 500px;
    height: 60px;
    margin: 30px 0;
    background-color: darkgrey;
    display: flex;
    align-items: center;
}

.destroyer {
    background-color: royalblue;
}

.destroyer-preview {
    width: 20px;
    height: 10px;
    margin: 3px;
}

.submarine {
    background-color: aqua;
}

.submarine-preview {
    width: 30px;
    height: 10px;
    margin: 3px;
}

.cruiser {
    background-color: chartreuse;
}

.cruiser-preview {
    width: 30px;
    height: 10px;
    margin: 3px;
}

.battleship {
    background-color: orchid;
}

.battleship-preview {
    width: 40px;
    height: 10px;
    margin: 3px;
}

.carrier {
    background-color: gold;
}

.carrier-preview {
    width: 50px;
    height: 10px;
    margin: 3px;
}

.hover {
    background-color: darkgray;
}

#computer .destroyer,
#computer .submarine,
#computer .cruiser,
#computer .battleship,
#computer .carrier {
    background-color: darkred;
}

.boom {
    background-color: red !important;
}

.empty {
    background-color: rgb(70, 70, 70) !important;
}